{
  "$schema": "https://github.com/fastfetch-cli/fastfetch/raw/master/doc/json_schema.json",
  "logo": {
    "type": "small",
    "color": {
      "1": "{{colors.primary.default.hex}}",
      "2": "{{colors.tertiary.default.hex}}",
      "3": "{{colors.secondary.default.hex}}"
    },
    "padding": {
      "top": 1,
      "left": 2,
      "right": 3
    }
  },
  "display": {
    "separator": "  ",
    "color": {
      "separator": "{{colors.on_surface.default.hex}}"
    }
  },
  "modules": [
    "break",
    {
      "type": "title",
      "format": "{1}",
      "color": {
        "user": "{{colors.primary.default.hex}}"
      }
    },
    "break",
    {
      "type": "os",
      "key": "󱄅 os ",
      "keyColor": "{{colors.primary.default.hex}}"
    },
    {
      "type": "cpu",
      "key": " cpu",
      "keyColor": "{{colors.tertiary.default.hex}}"
    },
    {
      "type": "memory",
      "key": "󰘚 ram",
      "keyColor": "{{colors.secondary.default.hex}}"
    },
    {
      "type": "shell",
      "key": " sh ",
      "keyColor": "{{colors.inverse_primary.default.hex}}"
    },
    "break",
    {
      "type": "colors",
      "symbol": "circle"
    }
  ]
}
