foreground              {{colors.on_surface.default.hex}}
background              {{colors.surface_container.default.hex}}
selection_foreground    {{colors.on_secondary_container.default.hex}}
selection_background    {{colors.secondary_container.default.hex}}

cursor                  {{colors.primary.default.hex}}
cursor_text_color       {{colors.on_primary.default.hex}}

url_color               {{colors.tertiary.default.hex}}

active_border_color     {{colors.primary.default.hex}}
inactive_border_color   {{colors.surface_variant.default.hex}}
bell_border_color       {{colors.error.default.hex}}

wayland_titlebar_color  system
macos_titlebar_color    system

active_tab_foreground   {{colors.on_primary_container.default.hex}}
active_tab_background   {{colors.primary_container.default.hex}}
inactive_tab_foreground {{colors.on_surface_variant.default.hex}}
inactive_tab_background {{colors.surface_container.default.hex}}
tab_bar_background      {{colors.surface.default.hex}}

mark1_foreground {{colors.on_primary.default.hex}}
mark1_background {{colors.primary.default.hex}}
mark2_foreground {{colors.on_secondary.default.hex}}
mark2_background {{colors.secondary.default.hex}}
mark3_foreground {{colors.on_tertiary.default.hex}}
mark3_background {{colors.tertiary.default.hex}}

color0 {{colors.surface_variant.default.hex}}
color8 {{colors.outline.default.hex}}

color1 {{colors.error.default.hex}}
color9 {{colors.error_container.default.hex}}

color2  {{colors.primary.default.hex}}
color10 {{colors.primary_fixed.default.hex}}

color3  {{colors.tertiary.default.hex}}
color11 {{colors.tertiary_fixed.default.hex}}

color4  {{colors.secondary.default.hex}}
color12 {{colors.secondary_fixed.default.hex}}

color5  {{colors.primary_container.default.hex}}
color13 {{colors.inverse_primary.default.hex}}

color6  {{colors.secondary_container.default.hex}}
color14 {{colors.tertiary_container.default.hex}}

color7  {{colors.on_surface_variant.default.hex}}
color15 {{colors.on_surface.default.hex}}
