hotkey-overlay {
    skip-at-startup
}

input {
    keyboard {
        xkb {
            layout "us"
            options "grp:alt_shift_toggle"
        }
    }
    touchpad {
        tap
        natural-scroll
        accel-profile "flat"
        click-method "clickfinger"
    }
}
